<!DOCTYPE html>
<html lang="nl-be" dir="ltr" prefix="og:http://ogp.me/ns#">
    <%- include ../partials/head -%>
    <body>
        <%- include ../partials/header -%>
        <div id="app"></div>
        <%- include ../partials/footer -%>
    </body>
</html>